@model DoAn.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<style type="text/css">

    img {
        width:200px;
        margin-bottom:20px;
    }

</style>
<h2 style="text-align:center;">CHI TIẾT SẢN PHẨM</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Mô tả : 
        </dt>

        <dd>
            @Html.Raw(Model.MoTa.ToString().Replace("\n", "</p><p>"))
        </dd>

        <dt>
            Hình Ảnh : 
        </dt>

        <dd>
            <img src="~/HinhAnhDoAn/@Model.HinhAnh" alt="@Model.TenSP">
        </dd>

        <dt>
            Ngày cập nhật : 
        </dt>

        <dd>
            @Html.FormatValue(Model.NgayCapNhat, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Số lượng tồn : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.FormatValue(Model.DonGia, "{0:#,##0}") VNĐ
        </dd>

        <dt>
            Loại sản phẩm : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoai)
        </dd>

        <dt>
           Nhà sản xuất : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)
        </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Về trang quản lý sản phẩm", "Index")
</p>
