@model DoAn.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>THÊM SẢN PHẨM</h2>


    @using (Html.BeginForm("Create", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Tên sản phẩm : </label>
                <div class="col-md-10">
                    <input type="text" size="70" name="TenSP" value="@ViewBag.TenSP" required />
                </div>
            </div>

           

            <div class="form-group">
                <label class="control-label col-md-2">Mô tả : </label>
                <div class="col-md-10">
                    <textarea name="MoTa">@ViewBag.MoTa</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ảnh : </label>
                <div class="col-md-10">
                    <input type="file" name="fFileUpLoad" />
                    @ViewBag.ThongBao
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ngày cập nhật : </label>
                <div class="col-md-10">
                    <input type="date" name="NgayCapNhat" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Số lượng tồn : </label>
                <div class="col-md-10">
                    <input type="number" min="1" required name="SoLuong" value="@ViewBag.SoLuong" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Đơn giá : </label>
                <div class="col-md-10">
                    <input type="number" min="1" required name="DonGia" value="@ViewBag.DonGia" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Loại sản phẩm : </label>
                <div class="col-md-10">
                    @Html.DropDownList("MaLoaiSP")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nhà sản xuất : </label>
                <div class="col-md-10">
                    @Html.DropDownList("MaNSX")
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="LƯU THÔNG TIN" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
    </div>
